// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Main Colors
$background-light: #ffffff;
$background: #EEEEEE;
$text-color-gray: #767676;
$main-color: #03A9F4;
$main-color-dark: #0288D1;
$main-color-light: #B2EBF2;
$accent-color: #FF9800;
$accent-color-light: rgb(253, 185, 82);
$accent-color-dark: rgb(212, 129, 4);

